body{
    background-color: lightpink;
}
.btns{
    margin-top: 400px;
    margin-left: 400px;
    margin-bottom: 400px;
    
}
.button3{
    background-color: white ;
    margin-left: 120px;
    margin-bottom: 20px ;
    width: 300px ;
    color: black ;
    font-size: larger;
    height: 90px;
    border-radius: 16.5px;
}

.button3:hover{
    background-color: lightgray ;
}
.button{
   width: 132px;
   height: 132px;
   border-radius: 16.5px;
   display: inline-block;
   background-color: darkblue;
   /* opacity: 0.20; */
}
/* .button:hover{
    background-color: white;
    color: white;
} */
